/* Main container styles */
.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align items to the top */
  width: 100%;
}

/* Content wrapper styles */
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Align content at the top */
  width: 100%;
  max-width: 1200px; /* Adjusted max-width */
  padding: 20px; /* Added padding for spacing */
}

.title {
  color: #000;
  margin: 15px 0 10px; /* Adjusted margin */
  font: 700 40px/120% Roboto, sans-serif;
  text-align: center; /* Center the text */
}

.subtitle {
  color: #000;
  margin: 10px 0 15px 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  text-align: center; /* Center the text */
}

.button-wrapper {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  margin-top: 20px; /* Added margin for spacing */
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
.login-register-wrapper {
  display: flex;
  gap: 0.75rem;
}

.login-button,
.register-button,
.browse-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  border-radius: 0.5rem;
  padding: 0.75rem;
  cursor: pointer;
  text-decoration: none; /* Added to ensure consistent styling */
  color: inherit; /* Inherit the color */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-button,
.login-button {
  padding: 10px 20px; /* Adjusted padding */
  margin: 5px; /* Adjusted margin */
}

.browse-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: black;
  font-size: 16px;
}

.browse-button:hover {
  color: #000000;
  background-color: #ffffff;
  transform: scale(1.05);
}

.browse-button:focus {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.login-button:hover,
.register-button:hover {
  color: white;
  background-color: #000000;
  transform: scale(1.05);
}

.login-button:focus,
.register-button:focus {
  outline: 2px solid #000000;
  outline-offset: 2px;
}
